<!-- Random chosen drinks -->
<section class="main-drinks">
    <header class="text-center">
        <h2>Random chosen drink <button mat-raised-button color="secondary" style="margin-left: 15px;" (click)="initializeEvaluator()">Choose another drink</button></h2>
    </header>
    <div class="drinks">
        <div class="drink">
            <app-drink *ngFor="let drink of baseDrinks" [drink]="drink"></app-drink>
        </div>
    </div>
</section>
<!-- First row of recommendations -->
<section class="recommended-drinks" *ngFor="let drinks of recommendedDrinks; let i = index">
    <header>
        <h2>#{{ i }} Recommended drinks</h2><button mat-raised-button color="primary" (click)="rateRecommender(i)">The best row</button>
    </header>
    <div class="drinks">
        <div *ngFor="let drink of drinks" class="drink">
            <app-drink [drink]="drink"></app-drink>
        </div>
    </div>
</section>