<!-- Random chosen drinks -->
<section class="main-drinks">
    <header class="text-center">
        <h2>Random chosen drink <button mat-raised-button color="secondary" style="margin-left: 15px;" (click)="initializeEvaluator()">Choose another drink</button></h2>
    </header>
    <div class="drinks">
        <div class="drink">
            <app-drink *ngFor="let drink of baseDrinks" [drink]="drink"></app-drink>
        </div>
    </div>
</section>
<!-- First row of recommendations -->
<section class="recommended-drinks">
    <header>
        <h2>#1 Recommended drinks</h2><button mat-raised-button color="primary" (click)="rateRecommender(0)">The best row</button>
    </header>
    <div class="drinks">
        <div *ngFor="let drink of recommendedDrinks1" class="drink">
            <app-drink [drink]="drink"></app-drink>
        </div>
    </div>
</section>
<!-- Second row of recommendations -->
<section class="recommended-drinks">
    <header>
        <h2>#2 Recommended drinks</h2><button mat-raised-button color="primary" (click)="rateRecommender(1)">The best row</button>
    </header>
    <div class="drinks">
        <div *ngFor="let drink of recommendedDrinks2" class="drink">
            <app-drink [drink]="drink"></app-drink>
        </div>
    </div>
</section>
<!-- Third row of recommendations -->
<section class="recommended-drinks">
    <header>
        <h2>#3 Recommended drinks</h2><button mat-raised-button color="primary" (click)="rateRecommender(2)">The best row</button>
    </header>

    <div class="drinks">
        <div *ngFor="let drink of recommendedDrinks3" class="drink">
            <app-drink [drink]="drink"></app-drink>
        </div>
    </div>
</section>